
#box {
    width: 700px;
    height: 320px;
    margin: 40px auto;
    overflow: hidden;
    position: relative;
}
#box img {
    width: 700px;
    height: 320px;
}
span {
    width: 40px;
    height: 80px;
    background: green;
    border-radius: 10px;
    color: #f8fda4;
    display: block;
    line-height: 80px;
    font-size: 30px;
    text-align: center;
    position: absolute;
}
#left {
    left: 40px;
    top:100px;
}
#right {

    right:40px;
    top:100px;
}
/*#box {*/
    /*width: 700px;*/
    /*height: 320px;*/
    /*margin:40px auto;*/
    /*overflow: hidden;*/
    /*position:relative;*/
/*}*/

/*#box img{*/
     /*width: 700px;*/
     /*height: 320px;*/

 /*}*/
/*#box span{*/
    /*width: 40px;*/
    /*height: 80px;*/
    /*background: */
    /*border-radius: 10px;*/
    /*opacity: 0.5;*/
    /*color: #fff;*/
    /*display: block;*/
    /*text-align: center;*/
    /*line-height: 80px;*/
    /*font-size: 26px;*/
    /*position: absolute;*/
/*}*/
/*#left {*/
    /*left: 40px;*/
    /*top:100px;*/
/*}*/
/*#right {*/
    /*!*position: relative;*!*/
    /*right: 40px;*/
    /*top: 100px;*/
/*}*/
/*}*/
